RewriteEngine On
RewriteRule ^\d{4}/\d{2}/([0-9]+)(/$|$) /entry.php?id=$1 [L]
RewriteRule ^kind/article /entry.php?type=1 [L]
RewriteRule ^kind/note /entry.php?type=2 [L]
RewriteRule ^kind/photo /entry.php?type=3 [L]
RewriteRule ^kind/video /entry.php?type=4 [L]
RewriteRule ^kind/bookmark /entry.php?type=5 [L]
RewriteRule ^kind/(like|heart) /entry.php?type=6 [L]
RewriteRule ^kind/(reply|replie) /entry.php?type=7 [L]
RewriteRule ^kind/(repost|re-post) /entry.php?type=8 [L]
RewriteRule ^kind/rsvp /entry.php?type=9 [L]
RewriteRule ^kind /entry.php
