::-webkit-scrollbar {
    display: none;
}
body {
text-align: center;  
font-family: 'Work Sans', sans-serif;
  font-display: block;
  font-size: 100%;
}
@media (max-aspect-ratio: 1/1) {
  body {
    /* if you change this, remember to adjust value for #preinner too! */
    font-size: 2.5vh;
  }
}
body, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}
ul {
  list-style-position: inside;
  padding-left: 0.5em;
}
#announcement {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: red;
  color: white;
  line-height: 1.5em;
}
#announcement a {
	color: white;
}
#firstbox {
	text-align: center;
	padding-top: 2em;
	width: 100%;
}
.profilepic {
  border-radius:50%;
}
#titleprofilepic {
  height: 10em;
  max-height: 50vh;
}
#contentbox {
	display: inline-block;
	width: 50em;
	max-width: 100%;
	min-width: 10%
}
article {
	text-align: left;
}
#subsequentbox {
	text-align: center;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.list {
	padding: 1em;
}
.list ul {
	text-align: left;
}
#blog {
	text-align: justify;
}
.centeredtext {
	text-align: center;
}
.code {
  font-family: courier;
}
#mvflexbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.mvthumb {
	width:24em;
	text-align: center;
}
.mvthumb img {
	width:100%;
}

#bottom h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  line-height: 0.5em;
  font-weight: bold;
}
.social {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
#email {
  width: 1.5em;
  height: 1.5em;
  object-position: center .08em;
}
#insta {
	width: 1.35em;
  height: 1.35em;
  object-position: center top;
}
#keybase {
  width: 1.5em;
  height: 1.5em;
  object-position: center .05em;
}
#twitter {
  width: 2.45em;
  height: 2.45em;
  object-position: left .55em;
}
#cs {
  margin-left: .2em;
  width: 1.4em;
  height: 1.4em;
  object-position: right top;
}
#mastodon {
  height: 1.4em;
  object-position: center top;
}
