body {
	font-family: 'Open Sans', sans-serif;
	/* padding: 0px;
	margin: 0px;
	width: 100%; */
}
h1, h2 {
	font-family: 'Montserrat', sans-serif;
}
p {
	text-indent: 2em;
}
table {
	text-align: left;
}
th {
	padding-right: 1em;
}
#silouette {
        max-height: 80vh;
        float:right;
        border: 1px solid black;
        margin-right: 1vw;
        margin-left: 1vw;
        margin-bottom: 1vw;
}
#jeffrey {
	/*position: relative;
	bottom:0px; */
	width: 100%;
	max-width: 100vw;
}
