/* Please style my <blockquote>s that way that you do 😘 */
.whostyle-jacobhall-net,
.whostyle-jacobhall-net *:not(blockquote, blockquote > *, .hidden-u-photo) {
	all:revert;
}
.whostyle-jacobhall-net {
	all: revert;
	border-radius: 25px;
	border: solid .2em lightgrey;
	font-family: 'Work Sans', sans-serif;
	font-size: 100%;
	font-size: max(100%, .4cm);
	padding: 1em;
	text-align: left;
	overflow: auto;
}
.whostyle-jacobhall-net img:not(.hidden-u-photo) {
	display: block;
	margin: auto;
	width: 100%;
	height: 100%;
	max-width: 35em;
}
.whostyle-jacobhall-net .watch img {
	width: 8em;
	padding-right: 1em;
	float: left;
}
.whostyle-jacobhall-net,
.whostyle-jacobhall-net h1,
.whostyle-jacobhall-net h2,
.whostyle-jacobhall-net h3,
.whostyle-jacobhall-net h4,
.whostyle-jacobhall-net h5, {
	font-size-adjust: 0.5;
}
.whostyle-jacobhall-net .entry-data {
	margin-bottom: 0em;
	padding-bottom: 0em;
}
