		#announcement {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background-color: red;
			color: white;
			line-height: 1.5em;
		}

		#announcement a {
			color: white;
		}

		#firstbox {
			text-align: center;
			padding-top: 2em;
			width: 100%;
		}

		.profilepic {
			border-radius:50%;
		}

		#titleprofilepic {
			height: 10em;
			max-height: 50vh;
		}

		#bottom h1 {
			font-family: 'Montserrat', sans-serif;
			font-size: 2em;
			line-height: 0.5em;
			font-weight: bold;
		}

		#bottom #socials a {
			font-size: 1.5em;
			text-decoration: none;
		}

		#subsequentbox {
			text-align: center;
			width: 100%;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
		}

		.list {
			padding: 1em;
		}

		.list ul {
			text-align: left;
		}

		#blog {
			text-align: justify;
		}

		.centeredtext {
			text-align: center;
		}

		.video {
			width: 100%;
			max-width: 50em;
			min-width: 10%
		}
